.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    left: 0px;
    top: 0px;
}

.title {
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 100px;
}
